@use "./block-title-stroke";
@use "./block-title";

.arrow_buttons_container {
  &--desktop-visibility {
    display: none;
  }
  &--mobile-visibility {
    display: inline-flex;
  }
}

@media (min-width: 767px) {
  .heading-button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .wrapper-reverse {
    flex-direction: row-reverse;
  }

  .heading-reverse {
    text-align: right;
  }

  .stroke-reverse {
    margin: 20px 0 32px auto;
  }

  .arrow_buttons_container {
    &--desktop-visibility {
      display: inline-flex;
    }
    &--mobile-visibility {
      display: none;
    }
  }
}
