@use "../variables/colors";
@use "../variables/fonts";
@use "block-title-stroke";

.heading {
  .heading__title {
    color: colors.$dark-color;
    font-family: fonts.$font-family-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
  }

  .heading__caption {
    color: colors.$light-color;
    font-size: 18px;
    margin-top: 20px;
  }

  @media (min-width: 767px) {
    .heading {
      display: flex;
    }

    .arrow_buttons_container {
      display: block;
    }

    .heading__title {
      font-size: 64px;
    }

    .heading__caption {
      color: colors.$light-color;
      font-size: 24px;
    }
  }
}
