@use "../variables/colors";
@use "../variables/fonts";

.arrow_buttons_container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.arrow_button {
  padding: 28px 20px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  &--left {
    width: 20px;
    height: 10px;
    border-radius: 12px;
    background: colors.$dark-color;
    transform: rotate(90deg);
    color: colors.$light-lightest-color;
    font-size: 25px;
  }
  &--right {
    width: 20px;
    height: 10px;
    border-radius: 12px;
    background: colors.$primary-color;
    transform: rotate(-90deg);
    color: colors.$light-lightest-color;
  }
}

.details-button {
  padding: 20px 40px;
  border-radius: 12px;
  background: colors.$primary-color;
  text-transform: uppercase;
  text-align: center;
  color: colors.$light-lightest-color;
  font-family: fonts.$font-family-sans-serif;
}
