@use "../variables/colors";
@use "../variables/fonts";
@use "../core/globals";

.card-offers__card {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.card-offers__title {
  color: colors.$light-color;
  font-style: normal;
  line-height: normal;
}

.card-offers__rating {
  color: #ffc107;
}

.card-offers__description {
  color: colors.$dark-color;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
