@use "../variables/colors";
@use "../variables/fonts";

.image {
  border-radius: 26px 26px 0px 0px;

  &--border {
    border-radius: 26px;
  }
}

.destinations {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  position: relative;
  gap: 32px;
  align-self: stretch;
  padding-top: 100px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__image {
    object-fit: cover;
    position: absolute;
    filter: sepia(0.2);
  }

  &__image,
  &__text {
    width: 288px;
    height: 320px;
    border-radius: 16px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 0;
    padding: 40px 20px;
    color: colors.$light-lightest-color;

    &--font-family {
      font-family: fonts.$font-family-serif;
      font-size: 24px;
      display: inline-block;
    }
  }

  &__location {
    &--font-family {
      font-size: 18px;
    }

    &--separation {
      margin-right: 16px;
    }

    &--block {
      display: flex;
      flex-direction: row;
      margin-top: 17px;
    }
  }

  &--display {
    display: none;
  }
}

@media (min-width: 767px) {
  .destinations {
    &__image,
    &__text {
      width: 497px;
      height: 661px;
      &--font-family {
        font-size: 28px;
      }
    }

    &__location {
      &--font-family {
        font-size: 24px;
      }
    }
  }
}
